//Tipografía

$font: 'Roboto', sans-serif;

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: $font;
    color: $main-text-color 
}
h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: $font;
    color: $main-text-color
}
