$main-bg-color: #2b193d;
$secondary-bg-color: #2c365e;
$tertiary-bg-color: #272f4f;
$main-button-color: #a675a1;
$secondary-button-color: #b80ea7;
$main-text-color: #ffffff;
$secondary-text-color: #ffffffc9;

