.fondo {
  background: url(../images/contacto-fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 50px 100px;
  @media (max-width: 980px) {
    margin: 20px 50px;
  }
  @media (max-width: 550px) {
    margin: 20px 10px;
  }
  .contacto {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(50, 9, 78, 0.82);
    @media (max-width: 980px) {
      padding: 50px;
    }
    @media (max-width: 550px) {
      padding: 5px;
      font-size: smaller;
    }
    .contenido {
      max-width: 800px;
      text-align: center;
      h2 {
        font-size: 36px;
        font-weight: 500;
        color: $main-text-color;
      }
      p {
        font-weight: 500;
        color: $main-text-color;
        font-size: large;
        line-height: 140%;
      }
    }
    .contenedor {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      @media (max-width: 980px) {
        flex-direction: column;
        margin-top: 10px;
      }
      .contactInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
        @media (max-width: 980px) {
          width: 100%;
        }
        .caja {
          position: relative;
          padding: 20px 0;
          display: flex;
          align-items: center;
          .icono {
            min-width: 60px;
            height: 60px;
            background: $main-button-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 22px;
            i {
              margin-top: 6px;
            }
          }
          .texto {
            display: flex;
            margin-left: 20px;
            font-size: 16px;
            color: $main-text-color;
            flex-direction: column;
            font-weight: 300;
            h2 {
              font-weight: 500;
              color: $main-text-color;
              margin-bottom: 3px;
            }
            p {
              line-height: 24px;
            }
            @media (max-width: 980px) {
              font-size: small;
            }
          }
          @media (max-width: 980px) {
            padding: 10px 0;
          }
        }
      }
      .contactForm {
        width: 40%;
        padding: 40px;
        background: $main-text-color;
        border-radius: 2%;
        text-align: center;
        @media (max-width: 980px) {
          width: 100%;
        }
        h2 {
          font-size: 30px;
          color: $black-text-color;
          font-weight: 500;
        }
        .inputBox {
          position: relative;
          width: 100%;
          margin-top: 10px;
          input {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #a675a1;
            outline: none;
            resize: none;
            &:focus {
              ~ {
                span {
                  color: $tertiary-text-color;
                  font-size: 12px;
                  transform: translateY(-20px);
                }
              }
            }
            &:valid {
              ~ {
                span {
                  color: $tertiary-text-color;
                  font-size: 12px;
                  transform: translateY(-20px);
                }
              }
            }
          }
          textarea {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #a675a1;
            outline: none;
            resize: none;
            &:focus {
              ~ {
                span {
                  color: $tertiary-text-color;
                  font-size: 12px;
                  transform: translateY(-20px);
                }
              }
            }
            &:valid {
              ~ {
                span {
                  color: $tertiary-text-color;
                  font-size: 12px;
                  transform: translateY(-20px);
                }
              }
            }
          }
          span {
            position: absolute;
            left: 0;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            pointer-events: none;
            transition: 0.5s;
            color: $tertiary-text-color;
          }
          input[type='submit'] {
            @extend .button;
          }
        }
      }
    }
  }
}
