.titulo-otros-proyectos {
    line-height: 60px;
    padding: 10px 50px;
    text-align: center;
}
.otros-proyectos {
    @include text-with-image-box($secondary-bg-color, false, 100%, false);
    .naranja-x {
        background: linear-gradient(90deg, rgb(255, 247, 173), rgb(255, 169, 249) 100%);
    }
    .safe-economy {
        background: beige;
    }
    .compra-gamer {
        background: black;
    }
    .uxer {
        background: black;
    }
    .card {
        img {
            width: 100%;
            height: auto;
            object-fit: fill;
        }
        .card-title {
            padding: 0;
            margin-bottom: 20px;
        }
        .card-footer {
            text-align: center;
            color: $main-text-color;
            .btn {
                @extend .button;
            }
        }
    }
}
