// Body

@import "../general/variables.scss";
@import "../general/typography.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  color: $main-text-color;
  background-color: $main-bg-color;
  background-attachment: fixed;
  span {
    font-size: small;
    font-weight: lighter;
    text-align: center;
  }
  .mensaje-header {
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: $main-text-color;
  }
}
